# .gitignore
.* # ignore all hidden files and folders
!/.gitignore # explicitly do not ignore .gitignore
.DS_Store
.ipynb_checkpoints/econ570-checkpoint.ipynb
zip_shapefile_data/*.shp
county_shapefile_data/*.shp
!zip_shapefile_data/*
!county_shapefile_data/*